@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');


body {
    font-family: 'Sora', sans-serif;
    background-color: #FAFAF9;
    font-weight: 200;
}

img{
    margin-top: 1rem;
    margin-inline: 1rem;
    border-radius: 15px;
}

.title {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.125rem;
}

.body {
    margin-top: .375rem;
    font-size: 0.875rem;
}

.smalltext {
    margin-block: 1.125rem;
    border-top: #E5EAF0 1px solid;
    padding-top: 1.25rem;
    font-size: 0.75rem;

}

.tag{
    margin-top: 1rem;
    padding-block: 6px;
    padding-inline: 16px;
    font-size: 0.75rem;
    background-color: #E6D6FC;
    color: #883AE1;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    max-width: fit-content;
}

.pad-inline{
    padding-inline: 1rem;
}

.card{
    background-color: #FFFFFF;
    margin-inline: 25%;
    margin-block: 25%;
    max-width: 23rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    border-radius: 20px;
}

.card p, h1{
    padding-inline: 1rem;
}

@media only screen and (min-width: 900px) {
 .card{
    margin-block: 15%;
    margin-inline: auto;
 }
}

